<div class='col-md-8 offset-md-1'>
  <h3>投稿アイテム詳細情報</h3>
  <table class='table'>
    <tr>
      <td rowspan="4" scope="rowgroup"><%= image_tag @item.image, size: '200x200', style: 'object-fit: cover;' %></td>
    </tr>
    <tr>
      <th>商品名：</th>
      <td><%= @item.name %></td>
      <th>価格：</th>
      <td><%= @item.price %>円</td>
    </tr>
    <tr>
      <th>コメント:</th>
      <td><%= @item.explanation %></td>
      <th>投稿日：</th>
      <td><%= @item.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>
        <!-- タグリスト -->
        <% if @item_tags.present? %>
          <% @item_tags.each do |tag| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%= link_to tag.name, search_tag_path(item_tag_id: item.id) %>
          <% end %>
        <% end %>
      </td>
      <td>
        <div class="form-group">
          <%= render "public/items/static_rate", item: @item %>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="4">
          <%= link_to 'アイテム削除', admin_item_path(@item), method: :delete, "data-confirm" => "本当に消しますか？", class: "btn btn-sm btn-danger destroy_item_#{@item.id}" %>
      </td>
    </tr>
  </table>
</div>