<table class='table'>
  <thead>
    <tr>
      <th>プロフィール画像</th>
      <th>ユーザーネーム</th>
      <th>自己紹介</th>
      <th>フォロー数</th>
      <th>フォロアー数</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td><%= image_tag user.get_profile_image, size: '50x50' %></td>
        <td><%= link_to "#{user.last_name} #{user.first_name}",public_user_path(user) %></td>
        <td><%= user.introduction %></td>
        <td><%= link_to user.followings.count, public_user_followings_path(user) %> follows</td>
        <td><%= link_to user.followers.count, public_user_followers_path(user) %> followers</td>
        <td>
          <% if current_user != user%>
            <% if current_user.following?(user) %>
              <%= link_to "フォロー外す", public_user_unfollow_path(user.id), method: :delete, class: "btn btn-info" %>
            <% else %>
              <%= link_to "フォローする", public_user_to_follow_path(user.id), method: :post, class: "btn btn-success" %>
            <% end %>
          <% end %>
    <% end %>
  </tbody>
</table>
