<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h3>User Information</h3>
      <!-- 部分テンプレート(ユーザー情報)-->
      <%= render 'info', user: @user %>

      <% if current_user == @user %> <!-- current_user が @user（@item の所有者）と等しい場合のみ表示 -->
        <h3 class="mt-3">New Present</h3>
        <%= render 'public/items/form', item: @item %>
      <% end %>
    </div>
    <div class="col-md-9">
    <h3>Recent Present</h3>
      <div class="sample_box3_1">
        <span class="sample_box_title"></span>
        <table class='table'>
          <tbody>
            <% @items.each do |item| %>
              <tr>
                <td rowspan="2" scope="rowgroup"><%= image_tag item.get_image, size: '100x100', style: 'object-fit: cover;' %></td>
                <th>アイテム名:</th><td><%= link_to item.name,public_item_path(item.id) %></td>
                <th>価格:</th><td><%= item.price %>円</td>
              </tr>
              <tr>
                <th>コメント:</th><td><%= item.explanation %></td>
                <th>投稿日:</th><td><%= item.created_at.strftime('%Y/%m/%d') %></td>
              </tr>
              <tr>
                <!-- タグリスト -->
                <td><% item.item_tags.each do |tag| %>
                <i class="fa-sharp fa-solid fa-tag"></i>
                  <%= link_to tag.name,search_tag_path(item_tag_id: tag.id) %>
                <% end %>
                </td>
                <td>
                  <!-- 部分テンプレート(星レビュー)-->
                  <%= render "public/items/static_rate", item: item %>
                </td>
                <td>
                  <% item.ai_tags.each do |item_tag| %>
                  <span class="label"><%= item_tag.name %></span>
                <% end %>
                </td>
              <% end %>
              </tr>
          </tbody>
        </table>
    </div>
  </div>
</div>
<%= paginate @items %>