<div class="container-fluid">
  <div class="row">
    <%= form_with model: @item, url: public_items_path do |f| %>
      <h4>画像</h4>
      <%= f.file_field :image, accept: "image/*" %>
      <h4>アイテム名</h4>
      <%= f.text_field :name %>
      <h4>価格</h4>
      <%= f.text_field :price %>
      <h4>コメント</h4>
      <%= f.text_field :explanation %>
      <h4>タグ ( , で区切ると複数タグ登録できます)</h4>
      <%= f.text_field :tag,value: @tag_list %><br>

        <% if item.id.nil? %>
      <div class="form-group" id="star">
      <%= f.label :star %>
      <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
        <div id="post_raty"></div>
      </div>
      <script>
        $(document).on('turbolinks:load', function() {
          let elem = document.querySelector('#post_raty');
          if (elem == null) return;

          elem.innerHTML = ""
          let opt = {
            starOn: "<%= asset_path('star-on.png') %>",
            starOff: "<%= asset_path('star-off.png') %>",
            starHalf: "<%= asset_path('star-half.png') %>",
            scoreName: 'item[star]',
          };
          raty(elem, opt);
        });
      </script>
    <% else %>
      <div class="form-group">
        <%= render "public/items/static_rate", item: item %>
      </div>
    <% end %>
      <%#= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name) %>
      <%= f.submit '新規登録', class: "btn btn-success mt-4" %>
    <% end %>
  </div>
</div>