<% @items.each do |item| %>
  <div>
    <%= image_tag item.get_image %>
    <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
    <p>価格：<%= item.price %></p>
    <p>コメント：<%= item.explanation %></p>
    <p>ユーザーネーム：<%= item.user.name %></p>
  </div>
<% end %>